$primary-background: #a878a8;

:root {
    background-color: $primary-background;
}

.site-header-container {
    display: block;
    position: relative;
    top: 0px;
    width: auto;
    max-width: 1600px;
    margin: 0px;

    .header-main {
        display: flex;
        justify-content: space-around;
        margin: auto;

        h1 {
            margin-left: 1rem;
        }
    }
}

header {
    
    .site-title {
        margin-inline: 0px;
        margin-block: 0px;
    }
}

#nav {
    li {
        list-style-type: none;
        padding: 0.5rem;
        margin: 0.5vh 0;
    }

    .nav-main {
        display: flex;
        justify-content: space-evenly;

    }

    .nav-utils {
        display: flex;
        justify-content: space-around;
        margin: 1vh 0;
    }
}

footer {
    p, .copyright-desc {
        font-size: 0.8rem;
    }
}