$primary-background: #a878a8;

:root {
    background-color: $primary-background;
}

header {
    .site-title {
        margin-inline: 0px;
        margin-block: 0px;
    }
}

#nav {
    ul {
        display: flex;
        justify-content: space-evenly;
    }
    li {
        list-style-type: none;
    }
}